body {
    color: #333333;
    /* background: linear-gradient(rgb(49, 114, 122),rgb(48,62,143)); */
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/d0/Cool_weather.jpg);
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.main-content p {
    font-size: 2rem;
    color: #333333;
}

footer {
    color: #000000;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 16px;
    /* font-size: 1.7rem; */
    /* font-weight: 300; */
    display: inline-block;
    padding-bottom: 8px;
    position: relative;
    /* color: #262626; */
    /* margin: 15px; */
}

h1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #262626;
    padding-top: 5px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    align-items: center;
    width: 300px;
    height: 40px;
    margin-left: 110px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.details p {
    margin-left: 110px;
}
